<!-- home.html -->
<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Home</title>
        <link rel="stylesheet" href="style.css">
        <script src="content.js"></script>
    </head>

    <body>
        <div>
            <div>
                <div>
                    <nav>
                        <a href="/user_form">User Form</a>
                        <a href="/contact">Contact Page</a>
                    </nav>
                    <h1>Hello from the Home page</h1>
                    <hr>
                    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. A molestias officiis possimus vitae
                        nostrum adipisci illo veniam, quia deserunt et praesentium obcaecati ab sequi inventore neque id
                        dignissimos consequuntur fugiat.</p>


                    <hr>
                    <a href="https://google.com" target="_blank">Go to google</a>
                    <img src="demo.png" alt="demo image">
                </div>
            </div>
        </div>
    </body>

</html>