/* id_style.css */

#home_page_header {
    color: bisque;
    background-color: brown;
}


#under_heading {
    color: aqua;
    background-color: chocolate;
}

#second_para {
    color: white;
    background-color: black;
}

#first_para {
    color: white;
    background-color: black;
}