/* Style the welcome card itself to have some padding, a border radius, a box shadow, and a margin bottom. There are 3 versions of the welcome card that can be styled. They differ only in the background colour as can be seen with the classes below. */
.welcome-card {
    padding: 2%;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    margin-bottom: 2%;
}

/* Background colour for welcome card version 1. */
.wc-version1 {
    background-color: #f8f3ee;
}

/* Background colour for welcome card version 2. */
.wc-version2 {
    background-color: #d8e3ef;
}

/* Background colour for welcome card version 3. */
.wc-version3 {
    background-color: rgb(176, 165, 226);
}