<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description"
            content="Assignment 1 for Module 6 of the Canadian Business College program Full Stack Web Application Development. The assignment focuses on building a full-stack Node.js web server.">
        <meta name="keywords" content="Canadian Business College, CBC, full stack, web server, node.js">
        <title>Module 6 - Assignment 1 - Contact</title>
    </head>

    <body>
        <!-- Header section which consists of just the nav section -->
        <header class="section-header">
            <nav>
                <!-- Hamburger menu
                    NOTE: I used GitHub Copilot to generate this code!!
                -->
                <!-- <input type="checkbox" id="nav-toggle" class="nav-toggle">
                <label for="nav-toggle" class="nav-toggle-label">
                    <span></span>
                    <span></span>
                    <span></span>
                </label> -->
                <ul class="nav-list">
                    <li>
                        <a href="/" class="nav-link">Site Home</a>
                    </li>
                    <li>
                        <a href="assignment-form" class="nav-link">Assignment Form</a>
                    </li>
                    <li>
                        <a href="contact-page" class="nav-link">Contact Me</a>
                    </li>
                </ul>
            </nav>
        </header>
        <!-- Main part of the body -->
        <main>
            <!-- Title section -->
            <section class="section-title">
                <h1>
                    Module 6 - Assignment 1: Contact Me
                </h1>
                <h3>
                    Building a Full-Stack Node.js Web Server
                </h3>
            </section>
            <!-- The contact me form itself -->
            <section class="section form-form">
                <p>
                    If you would like to connect with me - whether to collaborate on a project, ask about my code, or
                    just say hi - send me a message through the form below:
                </p>
                <form class="form-form-details" action="/contact-page" method="post">
                    <div class="form-form-element">
                        <label for="c_name">What is your name?</label>
                        <input type="text" id="c_name" name="c_name">
                    </div>
                    <div class="form-form-element">
                        <label for="c_email">What is your email?</label>
                        <input type="text" id="c_email" name="c_email">
                    </div>
                    <div class="form-form-element">
                        <label for="c_message">What is your message?</label>
                        <textarea id="c_message" name="c_message"></textarea>
                    </div>
                    <div class="form-form-element">
                        <button type="submit" id="form-submit-btn">Message Me!</button>
                    </div>
                </form>
            </section>
        </main>
    </body>

</html>