<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description"
            content="Assignment 1 for Module 6 of the Canadian Business College program Full Stack Web Application Development. The assignment focuses on building a full-stack Node.js web server.">
        <meta name="keywords" content="Canadian Business College, CBC, full stack, web server, node.js">
        <title>Module 6 - Assignment 1 - Contact</title>
    </head>

    <body>
        <!-- Title section of site -->
        <div class="doc-title">
            <h1>
                Module 6 - Assignment 1: Contact
            </h1>
            <h3>
                Building a Full-Stack Node.js Web Server
            </h3>
        </div>
    </body>

</html>