<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description"
            content="Assignment 1 for Module 6 of the Canadian Business College program Full Stack Web Application Development. The assignment focuses on building a full-stack Node.js web server.">
        <meta name="keywords" content="Canadian Business College, CBC, full stack, web server, node.js">
        <title>Module 6 - Assignment 1 - Contact</title>
    </head>

    <body>
        <header class="section-header">
            <!-- Header section which consists of just the nav section -->
            <nav>
                <!-- Hamburger menu
                    NOTE: I used GitHub Copilot to generate this code!!
                -->
                <!-- <input type="checkbox" id="nav-toggle" class="nav-toggle">
                <label for="nav-toggle" class="nav-toggle-label">
                    <span></span>
                    <span></span>
                    <span></span>
                </label> -->
                <ul class="nav-list">
                    <li>
                        <a href="/" class="nav-link">Home</a>
                    </li>
                    <li>
                        <a href="form" class="nav-link">Form</a>
                    </li>
                    <li>
                        <a href="contact" class="nav-link">Contact</a>
                    </li>
                </ul>
            </nav>
        </header>
        <!-- Title section -->
        <section class="section-title">
            <h1>
                Module 6 - Assignment 1: Contact
            </h1>
            <h3>
                Building a Full-Stack Node.js Web Server
            </h3>
        </section>

    </body>

</html>