<!DOCTYPE html>
<html lang="en">

    <head>
        <!-- Meta tags-->
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description"
            content="Assignment 1 for Module 6 of the Canadian Business College program Full Stack Web Application Development. The assignment focuses on building a full-stack Node.js web server.">
        <meta name="keywords" content="Canadian Business College, CBC, full stack, web server, node.js">
        <!-- Window/Tab Title -->
        <title>Module 6 - Assignment 1 - Form</title>
        <!-- Client-side JS -->
        <script src="js/aform_validation.js" defer></script>
        <!-- Google Fonts -->
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link
            href="https://fonts.googleapis.com/css2?family=Forum&family=Old+Standard+TT:ital,wght@0,400;0,700;1,400&display=swap"
            rel="stylesheet">
        <!-- Personal CSS -->
        <link rel="stylesheet" type="text/css" href="css/common.css">
        <link rel="stylesheet" type="text/css" href="css/form.css">
    </head>

    <body>
        <!-- Header section which consists of just the nav section -->
        <header class="section-header">
            <!-- Add empty div to make nav middle child for flex -->
            <div></div>
            <nav>
                <!-- Hamburger menu
                    NOTE: I used GitHub Copilot to generate this code!!
                -->
                <!-- <input type="checkbox" id="nav-toggle" class="nav-toggle">
                <label for="nav-toggle" class="nav-toggle-label">
                    <span></span>
                    <span></span>
                    <span></span>
                </label> -->
                <ul class="nav-list">
                    <li>
                        <a href="/" class="nav-link">Site Home</a>
                    </li>
                    <li>
                        <a href="assignment-form" class="nav-link">Assignment Form</a>
                    </li>
                    <li>
                        <a href="contact-page" class="nav-link">Contact Me</a>
                    </li>
                </ul>
            </nav>
            <!-- Add empty div to make nav middle child for flex -->
            <div></div>
        </header>
        <!-- Main part of the body -->
        <main>
            <!-- Title section -->
            <section class="section doc-title">
                <h1 class="doc-title__heading">
                    Module 6 - Assignment 1
                </h1>
                <h3 class="doc-title__subheading">
                    <span class="doc-title__subheading__text">Building a Full-Stack</span>
                    <span class="doc-title__subheading__text">Node.js Web Server</span>
                </h3>
            </section>
            <!-- Explanation and instructions for the form -->
            <section class="section form-instructions">
                <h4 class="section-title">
                    Instructions:
                </h4>
                <div class="section-content">
                    <p>
                        Please fill out this form and click submit when you are finished. You will need to upload a
                        photo as
                        part of the form. All fields are required.
                    </p>
                </div>
            </section>
            <!-- The form itself -->
            <section class="section form-form">
                <h4 class="section-title">
                    Details about you:
                </h4>
                <form class="form-form-details" action="assignment-form" method="post" enctype="multipart/form-data">
                    <div class="form-form-element form-text">
                        <label for="u_name" class="form-label">What is your name?</label>
                        <input type="text" id="u_name" name="u_name">
                    </div>
                    <div class="form-form-element form-text">
                        <label for="u_age" class="form-label">What is your age?</label>
                        <input type="text" id="u_age" name="u_age">
                    </div>
                    <div class="form-form-element form-text">
                        <label for="u_car" class="form-label">What car do you drive?</label>
                        <input type="text" id="u_car" name="u_car">
                    </div>
                    <div class="form-form-element form-text">
                        <label for="u_job" class="form-label">What is your occupation?</label>
                        <input type="text" id="u_job" name="u_job">
                    </div>
                    <div class="form-form-element form-upload">
                        <label for="u_image" class="form-label">Please upload a photo of your choosing:</label>
                        <input type="file" id="u_image" name="u_image">
                    </div>
                    <div class="form-form-element form-btn">
                        <button type="submit" id="form-submit-btn">Send my information</button>
                    </div>
                </form>
            </section>
        </main>
    </body>

</html>