/* style.css */
/* desktop first approach */
#home_page_header {
    color: white;
    background-color: black;
}


@media(max-width: 750px) {
    #home_page_header {
        color: red;
        background-color: greenyellow;
    }
}