<!-- home.html -->
<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Home Page</title>
    </head>

    <body>
        <div>
            <div>
                <div>
                    <h1>Home page</h1>
                    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Laborum expedita voluptate sequi
                        quidem, possimus vitae similique dolorum sit deleniti! Impedit quasi error cumque eum molestiae
                        blanditiis quia autem assumenda illum!</p>
                    <hr>
                    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Tempora, ea debitis! Impedit
                        repudiandae quia voluptate natus, modi officia cupiditate fuga unde illo reprehenderit minus cum
                        adipisci iusto? Quam, temporibus aut.</p>
                </div>
            </div>

        </div>
    </body>

</html>