<!-- Form.html -->
<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Form</title>
        <link rel="stylesheet" href="style.css">
        <script src="content.js"></script>
    </head>

    <body>
        <div>
            <div>
                <div>
                    <nav>
                        <a href="/">Home</a>
                        <a href="/contact">Contact Page</a>
                    </nav>
                    <h1>Hello from the Form page</h1>
                    <hr>
                    <form action="/form_data" method="post">
                        <input type="text" name="u_name" placeholder="Users Name">



                        <input type="number" name="u_age" placeholder="Users Age">



                        <input type="text" name="u_city" placeholder="Users City">



                        <input type="text" name="u_hobby" placeholder="Users hobby">



                        <input type="submit" value="Send!">
                    </form>
                </div>
            </div>
        </div>
    </body>

</html>