<!-- users.html -->
<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>users</title>
        <link rel="stylesheet" href="css/style.css">
        <script src="js/content.js" defer></script>
    </head>

    <body>
        <div>
            <div>
                <div>
                    <nav>
                        <a href="/contact">Contact Page</a>
                        <a href="/">Home Page</a>
                        <a href="/user_form">Form Page</a>
                    </nav>
                    <h1>Find all the users here based on button click!</h1>
                    <hr>
                    <button id="fetch_users">Fetch all users from our API.</button>
                    <div id="div_for_user_para">

                    </div>
                </div>
            </div>
        </div>
    </body>

</html>