<!-- common.html -->
<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{{ page_title }}</title>
    </head>

    <body>
        <div>
            <div>
                <div>
                    <h1>{{ page_heading }}</h1>
                    <h4>{{ page_subheading }}</h4>
                    <hr>
                    <p>{{ page_para }}</p>
                </div>
            </div>
        </div>

    </body>

</html>