<!-- form.html  -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Form</title>
</head>
<body>
    <div>
        <div>
            <div>
                <h1>User Info form</h1>
                <hr>
                <form action="http://127.0.0.1:5000/data" method="post">
                    <input type="text" name="user_name" placeholder="Users Name">
                    


                    <input type="number" name="user_age" placeholder="Users Age">
                    


                    <input type="text" name="user_city" placeholder="Users City">
                    


                    <input type="submit" value="Send!">
                </form>
            </div>
        </div>
    </div>
    
</body>
</html>