* {
    padding: 0;
    margin: 0;
    font-size: 18px;
    font-family: 'Courier New', Courier, monospace;
}

.fonts-google {
    .playwrite-au-vic-guides-regular {
        font-family: "Playwrite AU VIC Guides", cursive;
        font-weight: 400;
        font-style: normal;
    }


    .playwrite-au-vic-lite {
        font-family: "Playwrite AU VIC", cursive;
        font-optical-sizing: auto;
        font-weight: 159;
        font-style: normal;
    }

    .iosevka-charon-regular {
        font-family: "Iosevka Charon", monospace;
        font-weight: 400;
        font-style: normal;
    }

    .iosevka-charon-bold {
        font-family: "Iosevka Charon", monospace;
        font-weight: 700;
        font-style: normal;
    }

}