<!-- not_found.html -->
<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Home</title>
        <link rel="stylesheet" href="css/style.css">
        <script src="js/content.js"></script>
    </head>

    <body>
        <div>
            <div>
                <div>
                    <nav>
                        <a href="/">Home Page</a>
                        <a href="/contact">Contact Page</a>
                    </nav>
                    <h1>This path you are looking for does not exist</h1>
                    <hr>
                    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. A molestias officiis possimus vitae
                        nostrum adipisci illo veniam, quia deserunt et praesentium obcaecati ab sequi inventore neque id
                        dignissimos consequuntur fugiat.</p>


                    <hr>
                </div>
            </div>
        </div>
    </body>

</html>